---
import "virtual:windi.css";
import Layout from "@layouts/Layout.astro";
import Home from "@components/Home.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <title>{title}</title> -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-indigo-600">
    <Layout>
      <main>
        <Home
          title="Construyendo productos"
          description="& servicios digitales"
          body="Desarrollamos soluciones digitales para la industria, las empresas emergentes y las organizaciones sin fines de lucro con una red seleccionada de socios para garantizar la máxima funcionalidad e interoperabilidad entre el Internet de las cosas, el desarrollo de software y la inteligencia artificial."
        />
      </main>
    </Layout></body
  >
</html>
