---
import "virtual:windi.css";
import Project from "../components/Projects.astro";
import Question from "../components/Questions.astro";
import Home from "@components/Home.astro";
import Web from '@components/Web.astro';
import Layout from "@layouts/Layout.astro";
import Brand from "@components/Brand.astro";
import Brain from "@components/Brain.astro";


---
<Layout>
  <main>
    <Home
      title="Construyendo productos"
      description="& servicios digitales"
      body="Desarrollamos soluciones digitales para la industria, las empresas emergentes y las organizaciones sin fines de lucro con una red seleccionada de socios para garantizar la máxima funcionalidad e interoperabilidad entre el Internet de las cosas, el desarrollo de software y la inteligencia artificial."
    />
    <Brand />
    <Web
        title="Desarrollo, Integración y"
        description="Despliegue de aplicaciones Web Productos"
        body="Nuestro equipo utiliza las mejores herramientas de desarrollo para hacer que su aplicación sea robusta, segura y optimizada. Entregamos aplicaciones web que su equipo de tecnología de la información puede personalizar o actualizar sin mucho esfuerzo."
        />
    <Brain 
      title="Cree sus propias soluciones y productos"
      description="de I.A. personalizadas"
      body="Comience con una experiencia completamente administrada por usted con nosotros. Lo ayudamos a lo largo de todo el proceso de IA, para que pueda crear, entrenar e implementar modelos de aprendizaje automático o profundo fácilmente para su propio caso de negocio."
    />
    <Project
      title_project="Proyectos Entregados"
      photos={[
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
      ]}
    />
    <Question
      title="Preguntas frecuentes"
      items={[
        "¿Cuánto tarda el rediseño de una aplicación web?",
        "¿Cuándo y donde aplicar las redes neuronales?",
        "¿Cuándo y dónde aplicar deep learning?",
        "¿Puedo alojar mi aplicación o sistema distribuido en una infraestructura propia?",
      ]}
      description={[
        "El tiempo para el rediseño de una aplicación web varía según los objetivos y la visión que consideres cubrir; recuerda que el diseñador toma una idea y la presenta con técnicas de diseño.",
        "Es importante pensar claramente en lo que usted y sus partes interesadas requieren del proyecto primero, luego busque una arquitectura de red (o desarrolle una) que satisfaga las necesidades específicas de su proyecto.",
        "Al elegir entre el aprendizaje automático y el aprendizaje profundo, considere si tiene una GPU de alto rendimiento y muchos datos etiquetados. Si no tiene ninguna de esas cosas, puede tener más sentido utilizar el aprendizaje automático en lugar del aprendizaje profundo. El aprendizaje profundo suele ser más complejo, por lo que necesitará al menos unos miles de imágenes para obtener resultados fiables. Tener una GPU de alto rendimiento significa que el modelo tardará menos en analizar todas esas imágenes.",
        "Sí, tenemos la opción de alojar tu aplicación o sistema distribuido en un host propio de tu empresa; en su defecto alojarlo con proveedores de cloud comerciales como google cloud, amazon, digitalocean, vultr, etc",
      ]}
    />
  </main>
</Layout>