---
import 'virtual:windi.css';
import Layout from "@layouts/Layout.astro";
import Home from '@components/Home.astro';

---

<Layout>
    <main>
        <Home 
        title="Construyendo productos"
        description="& servicios digitales"
        body="Desarrollamos"
        />
    </main>
</Layout>