---
import 'virtual:windi.css';
import Layout from "@layouts/Layout.astro";
import Home from '@components/Home.astro';
import Desarrollo from '@components/Desarrollo.astro';
---
<Layout>
    <main>
        <Home 
        title="Construyendo productos"
        description="& servicios digitales"
        body="Desarrollamos soluciones digitales para la industria, las empresas emergentes y las organizaciones sin fines de lucro con una red seleccionada de socios para garantizar la máxima funcionalidad e interoperabilidad entre el Internet de las cosas, el desarrollo de software y la inteligencia artificial."
        />
    </main>
</Layout>
<Layout>
    <main>
        <Desarrollo
        title="Desarrollo, Integracion y"
        description="Despliegue de aplicaciones Web Productos"
        body="Nuestro equipo utiliza las mejores herramientas de desarrollo para hacer que su aplicación sea robusta, segura y optimizada. Entregamos aplicaciones web que su equipo de tecnología de la información puede personalizar o actualizar sin mucho esfuerzo."
        />
    </main>
</Layout>
  