---
import "virtual:windi.css";
import Project from "../components/Projects.astro";
import Question from "../components/Questions.astro";
import Home from "@components/Home.astro";
import Desarrollo from '@components/Desarrollo.astro';
import Layout from "@layouts/Layout.astro";

---
<Layout>
  <main>
    <Home
      title="Construyendo productos"
      description="& servicios digitales"
      body="Desarrollamos soluciones digitales para la industria, las empresas emergentes y las organizaciones sin fines de lucro con una red seleccionada de socios para garantizar la máxima funcionalidad e interoperabilidad entre el Internet de las cosas, el desarrollo de software y la inteligencia artificial."
    />
    <Desarrollo
        title="Desarrollo, Integracion y"
        description="Despliegue de aplicaciones Web Productos"
        body="Nuestro equipo utiliza las mejores herramientas de desarrollo para hacer que su aplicación sea robusta, segura y optimizada. Entregamos aplicaciones web que su equipo de tecnología de la información puede personalizar o actualizar sin mucho esfuerzo."
        />
    <Project
      title_project="Proyectos Entregados"
      photos={[
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
      ]}
    />
    <Question
      title="Preguntas frecuentes"
      items={[
        "¿Cuánto tarda el rediseño de una aplicación web?",
        "¿Cuándo y donde aplicar las redes neuronales?",
        "¿Cuándo y dónde aplicar deep learning?",
        "¿Puedo alojar mi aplicación o sistema distribuido en una infraestructura propia?",
      ]}
      description={[
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium nulla, dignissimos officia quas, porro repellendus laborum facere quo voluptatum ex a, impedit quasi delectus asperiores. Ad nam cum nostrum?",
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium nulla, dignissimos officia quas, porro repellendus laborum facere quo voluptatum ex a, impedit quasi delectus asperiores. Ad nam cum nostrum?",
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium nulla, dignissimos officia quas, porro repellendus laborum facere quo voluptatum ex a, impedit quasi delectus asperiores. Ad nam cum nostrum?",
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium nulla, dignissimos officia quas, porro repellendus laborum facere quo voluptatum ex a, impedit quasi delectus asperiores. Ad nam cum nostrum?",
      ]}
    />
  </main>
</Layout>