---
import "virtual:windi.css";
import Project from "../components/Projects.astro";
import Question from "../components/Questions.astro";
import Home from "@components/Home.astro";
import Web from '@components/Web.astro';
import Layout from "@layouts/Layout.astro";
import Brand from "@components/Brand.astro";
import Brain from "@components/Brain.astro";


---
<Layout>
  <main>
    <Home
      title="Construyendo productos"
      description="& servicios digitales"
      body="Desarrollamos soluciones digitales para la industria, las empresas emergentes y las organizaciones sin fines de lucro con una red seleccionada de socios para garantizar la máxima funcionalidad e interoperabilidad entre el Internet de las cosas, el desarrollo de software y la inteligencia artificial."
    />
    <Brand />
    <Web
        title="Desarrollo, Integración y"
        description="Despliegue de aplicaciones Web Productos"
        body="Nuestro equipo utiliza las mejores herramientas de desarrollo para hacer que su aplicación sea robusta, segura y optimizada. Entregamos aplicaciones web que su equipo de tecnología de la información puede personalizar o actualizar sin mucho esfuerzo."
        />
    <Brain 
      title="Cree sus propias soluciones y productos"
      description="de I.A. personalizadas"
      body="Comience con una experiencia completamente administrada por usted con nosotros. Lo ayudamos a lo largo de todo el proceso de IA, para que pueda crear, entrenar e implementar modelos de aprendizaje automático o profundo fácilmente para su propio caso de negocio."
    />
    <Project
      title_project="Proyectos Entregados"
      photos={[
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
      ]}
    />
    <Question
      title="Preguntas frecuentes"
      items={[
        "¿Cuánto tarda el rediseño de una aplicación web?",
        "¿Cuándo y donde aplicar las redes neuronales?",
        "¿Cuándo y dónde aplicar deep learning?",
        "¿Puedo alojar mi aplicación o sistema distribuido en una infraestructura propia?",
      ]}
      description={[
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium nulla, dignissimos officia quas, porro repellendus laborum facere quo voluptatum ex a, impedit quasi delectus asperiores. Ad nam cum nostrum?",
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium nulla, dignissimos officia quas, porro repellendus laborum facere quo voluptatum ex a, impedit quasi delectus asperiores. Ad nam cum nostrum?",
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium nulla, dignissimos officia quas, porro repellendus laborum facere quo voluptatum ex a, impedit quasi delectus asperiores. Ad nam cum nostrum?",
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta accusantium nulla, dignissimos officia quas, porro repellendus laborum facere quo voluptatum ex a, impedit quasi delectus asperiores. Ad nam cum nostrum?",
      ]}
    />
  </main>
</Layout>