---
import { AppConfig } from "@utils/AppConfig";
import Layout from "../layouts/Layout.astro";

const { title, description } = AppConfig;
---

<Layout head={{ title, description }}>
  <main>
    <div class="pt-24">
      <h1>Welcome to <span>Astro</span></h1>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
      <p class="instructions">
        To get started, open the directory <code>src/pages</code> in your project.<br
        />
        <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
      </p>
    </div>
  </main>
</Layout>
