---
import "virtual:windi.css";
import Project from "../components/Projects.astro";
import Question from "../components/Questions.astro";
import Home from "@components/Home.astro";
import Web from "@components/Web.astro";
import Layout from "@layouts/Layout.astro";
import Brand from "@components/Brand.astro";
import Brain from "@components/Brain.astro";
import Chat from "@components/Chatbot.astro";
---

<Layout>
  <main>
    <Chat
      img = "./avatar-ejemplo.jpg"
      description="Tu Asistente Virtual"
      chatname="Tolu"
      greeting="@Praise"
      title_chat="쮺칩mo te sientes hoy en nuestra plataforma?"
      emotions={[
        "游뱔 Increible",
        "游녨 Bien",
        "游땐 No lo s칠",
        "游땞 No muy bien",
        "游 Terriblemente",
      ]}
    />
    <Home
      title="Construyendo productos"
      description="& servicios digitales"
      body="Desarrollamos soluciones digitales para la industria, las empresas emergentes y las organizaciones sin fines de lucro con una red seleccionada de socios para garantizar la m치xima funcionalidad e interoperabilidad entre el Internet de las cosas, el desarrollo de software y la inteligencia artificial."
    />
    <Brand />
    <Web
      title="Desarrollo, Integraci칩n y"
      description="Despliegue de aplicaciones Web Productos"
      body="Nuestro equipo utiliza las mejores herramientas de desarrollo para hacer que su aplicaci칩n sea robusta, segura y optimizada. Entregamos aplicaciones web que su equipo de tecnolog칤a de la informaci칩n puede personalizar o actualizar sin mucho esfuerzo."
    />
    <Brain
      title="Cree sus propias soluciones y productos"
      description="de I.A. personalizadas"
      body="Comience con una experiencia completamente administrada por usted con nosotros. Lo ayudamos a lo largo de todo el proceso de IA, para que pueda crear, entrenar e implementar modelos de aprendizaje autom치tico o profundo f치cilmente para su propio caso de negocio."
    />
    <Project
      title_project="Proyectos Entregados"
      photos={[
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
        "/rescue-logo.svg",
        "/zentangle-logo.svg",
        "/smartcore-logo.svg",
        "/tharsis-logo.svg",
      ]}
    />
    <Question
      title="Preguntas frecuentes"
      items={[
        "쮺u치nto tarda el redise침o de una aplicaci칩n web?",
        "쮺u치ndo y donde aplicar las redes neuronales?",
        "쮺u치ndo y d칩nde aplicar deep learning?",
        "쯇uedo alojar mi aplicaci칩n o sistema distribuido en una infraestructura propia?",
      ]}
      description={[
        "El tiempo para el redise침o de una aplicaci칩n web var칤a seg칰n los objetivos y la visi칩n que consideres cubrir; recuerda que el dise침ador toma una idea y la presenta con t칠cnicas de dise침o.",
        "Es importante pensar claramente en lo que usted y sus partes interesadas requieren del proyecto primero, luego busque una arquitectura de red (o desarrolle una) que satisfaga las necesidades espec칤ficas de su proyecto.",
        "Al elegir entre el aprendizaje autom치tico y el aprendizaje profundo, considere si tiene una GPU de alto rendimiento y muchos datos etiquetados. Si no tiene ninguna de esas cosas, puede tener m치s sentido utilizar el aprendizaje autom치tico en lugar del aprendizaje profundo. El aprendizaje profundo suele ser m치s complejo, por lo que necesitar치 al menos unos miles de im치genes para obtener resultados fiables. Tener una GPU de alto rendimiento significa que el modelo tardar치 menos en analizar todas esas im치genes.",
        "S칤, tenemos la opci칩n de alojar tu aplicaci칩n o sistema distribuido en un host propio de tu empresa; en su defecto alojarlo con proveedores de cloud comerciales como google cloud, amazon, digitalocean, vultr, etc",
      ]}
    />
  </main>
</Layout>
