---
import 'virtual:windi.css';
import Layout from "@layouts/Layout.astro";
import Home from '@components/Home.astro';

---

<Layout>
    <main>
        <Home 
        title="Construyendo productos"
        description="& servicios digitales"
        body="Desarrollamos soluciones digitales para la industria, las empresas emergentes y las organizaciones sin fines de lucro con una red seleccionada de socios para garantizar la máxima funcionalidad e interoperabilidad entre el Internet de las cosas, el desarrollo de software y la inteligencia artificial."
        />
    </main>
</Layout>