---
import { Icon } from 'astro-icon';
export interface Props {
	title: string;
	description: string;
	body: string;
}

const { title, description, body } = Astro.props;
---
<div class="container <md:h-700px lg:h-800px h-800px mx-auto">
	<div class="flex">
        <div class="<xl:hidden mx-4rem my-auto w-max-2300px">
			<img width="3000px" src="/brain.svg">
		</div>
        <div class ="flex-col my-auto mx-12 <md:my-0.5rem lg:mx-8rem">
			<div class="<lg:visible <lg:w-auto m-0.5rem lg:hidden md:hidden xl:hidden max-w-350px pb-2rem">
				<img width="1000px" src="/brain.svg">
			</div>
			<div class="<md:text-2xl text-6xl font-bold text-right">
				<p class="gradient">{title}</p>
				<p class="text-white">{description}</p>
			</div>
			<div class="<md:text-base <lg:font-600 text-2xl text-white pt-2rem text-right">
				<a>{body}</a>
			</div>
		</div>
		<div class="absolute pt-16rem">
			<img width="600px" src="/circle.svg">
		</div>
		<!-- <div class="absolute <lg:hidden right-0 top-0">
			<img width="300px" src="/circle-right.svg">
		</div> -->
	</div>
    <div class="w-full <xl:hidden pt-4rem">
        <div class="pt-1rem">
            <div class="flex flex-1 space-x-20rem mx-auto justify-center pb-2rem">
                <img class="py-10px <md:h-10 h-20" src="/edit.svg" />
                <img class="py-10px <md:h-10 h-20" src="/gallery.svg" />
                <img class="py-10px <md:h-10 h-20" src="/doc.svg" />
                <img class="py-10px <md:h-10 h-20" src="/micro.svg" />
            </div>
        </div>
    </div>
    <div class="<xl:hidden text-center mx-auto <sm:hidden">
        <div class="bg-gradient-to-r <md:w-full">
            <div class="flex flex-1 rounded-md text-2xl text-white <lg:font-600 <md:text-base space-x-8rem justify-center">
                <p class="<md:text-sm lg:w-65 h-12">Diseño de canalizaciones personalizadas de IA.</p>
                <p class="<md:text-sm lg:w-65 h-12">Recolección y procesamiento de imágenes y texto.</p>
                <p class="<md:text-sm lg:w-65 h-12">Visión Artificial, OCR, NLP y transcripción Automática.</p>
                <p class="<md:text-sm lg:w-65 h-12">Asistentes virtuales inteligentes, reconocimiento de voz.</p>
            </div>
        </div>
    </div>
</div>

<style>
	.gradient {
		font-size:larger;
		font-weight: bold;	
		/* font-family: Poppins; */
			background: linear-gradient(to right, #4646F9, #9130F4);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
}
</style>