<header class="site-header pt-24 bg-primary">
  <div
    class="site-header__inner px-6 1.5xl:px-0 flex flex-wrap sm:flex-no-wrap justify-between items-center mx-auto flex-row-reverse 1.5xl:flex-row"
  >
    <nav
      class="site-nav fixed 1.5xl:absolute top-0 left-0 1.5xl:block z-20 pt-8 bg-white 1.5xl:bg-transparent 1.5xl:h-auto pl-3 1.5xl:px-5"
    >
      <ul class="flex items-start mx-3 p-0 1.5xl:flex-row w-full">
        <li class="pl-8 pr-8 1.5xl:pr-0 1.5xl:w-auto 1.5xl:flex-grow"
        >but</li>
        <li class="pl-8 pr-8 1.5xl:pr-0 1.5xl:w-auto 1.5xl:flex-grow"
        >Products</li>
        <li class="pl-8 pr-8 1.5xl:pr-0 1.5xl:w-auto 1.5xl:flex-grow"
        >Privacy</li>
        <li class="pl-8 pr-8 1.5xl:pr-0 1.5xl:w-auto 1.5xl:flex-grow"
        >test</li>
        <li class="pl-8 pr-8 1.5xl:pr-0 1.5xl:w-auto 1.5xl:flex-grow"
        >Business
        </li>
      </ul>
    </nav>
    <a
      href="https://brave.com/"
      class="absolute pt-24 top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
    <!-- 1.5xl:absolute 1.5xl:left-1/2 1.5xl:transform 1.5xl:-translate-x-1/2 left-0 absolute ml-3 1.5xl:ml-0 mt-1 -->
      <img
        src="https://flowbite.com/docs/images/logo.svg"
        alt="Brave Software home"
        class="w-10 lg:w-12"
      />
    </a>
    <div class="site-nav fixed 1.5xl:absolute top-0 right-0 1.5xl:block z-20 pt-8 bg-white 1.5xl:bg-transparent 1.5xl:h-auto pl-3 1.5xl:px-5">
      <a
        class="download btn pr-10 btn--none btn--orange btn btn--white font-semibold text-sm normal-case opacity-50 transition-opacity duration-500"
        >Language
      </a>
    </div>
  </div>
</header>
