---
export interface Props {
	title: string;
	description: string;
	body: string;
}

const { title, description, body } = Astro.props;
---
<div class="container mx-auto pt-2rem">
	<div class="flex mx-auto h-671px bg-primary">
		<div class ="flex-col my-auto mx-24">
			<div class="text-7xl font-bold">
				<p class="text-violet-900">{title}</p>
				<p class="text-white">{description}</p>
			</div>
			<div class="text-3xl text-white pt-2rem">
				<a>{body}</a>
			</div>
			<div class="flex mx-auto pt-2rem">
				<p>Botón 1</p>
				<p>Botón 1</p>
			</div>
		</div>
		<img class="mx-20" width="750px" src="/home.svg">
	</div>
</div>