---
import "virtual:windi.css";
---

<div class="flex p-40px">
  <button
    data-collapse-toggle="navbar-default"
    type="button"
    class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    aria-controls="navbar-default"
    aria-expanded="false"
  >
    <span class="sr-only">Open main menu</span>
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"></path></svg
    >
  </button>
  <div class="hidden w-full md:block md:w-auto" id="navbar-default">
    <ul
      class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg text-white md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
    >
      <li>
        <a
          class="mx-0.5rem px-10px hover:bg-hex-4646fa rounded-50px cursor-pointer"
          >inicio</a
        >
      </li>
      <li>
        <a
          class="mx-0.5rem px-10px hover:bg-hex-4646fa rounded-50px cursor-pointer"
          >Servicios</a
        >
      </li>
      <li>
        <a
          class="mx-0.5rem px-10px hover:bg-hex-4646fa rounded-50px cursor-pointer"
          >clientes</a
        >
      </li>
      <li>
        <a
          class="mx-1rem px-10px hover:bg-hex-4646fa rounded-50px cursor-pointer"
          >FAQs</a
        >
      </li>
    </ul>
  </div>
    <img
      class="h-54px w-127px item-center mx-auto <md:w-64pxp"
      src="https://res.cloudinary.com/dkljgkuyy/image/upload/v1676311271/iris-astro/Group_3200_f1hvin.png"
      alt="iris-logo"
    />
  <div class="items-center ml-auto h-7 my-auto flex">
    <label class="mx-2rem flex items-center relative w-max cursor-pointer select-none">
      <input
        type="checkbox"
        class="appearance-none transition-colors cursor-pointer w-14 h-7 rounded-full focus:outline-none bg-hex-9130F4 bg-hex-4646fa"
      />
      <span class="absolute font-medium text-xs uppercase right-1 text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-moon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
          ></path>
        </svg>
        
      </span>
      <span class="absolute font-medium text-xs uppercase right-8 text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-sun-high"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"
          ></path>
          <path d="M6.343 17.657l-1.414 1.414"></path>
          <path d="M6.343 6.343l-1.414 -1.414"></path>
          <path d="M17.657 6.343l1.414 -1.414"></path>
          <path d="M17.657 17.657l1.414 1.414"></path>
          <path d="M4 12h-2"></path>
          <path d="M12 4v-2"></path>
          <path d="M20 12h2"></path>
          <path d="M12 20v2"></path>
        </svg>
      </span>
      <span
        class="w-7 h-7 right-7 absolute rounded-full transform transition-transform bg-gray-200"
      ></span>
    </label>
    <div class="text-white flex mx-1rem">
      EN <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-chevron-down"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6 9l6 6l6 -6"></path>
        </svg>
      </span>
    </div>
  </div>
</div>
<style>
  input:checked {
    background-color: #9130F4; /* bg-green-500 */
  }

  input:checked ~ span:last-child {
    --tw-translate-x: 1.75rem; /* translate-x-7 */
  }
</style>