---
import {AppConfig} from "@utils/AppConfig";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
export interface Props {
	head:{
		title: string;
		description: string;
	}
}

const { head:{title,description} } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name='description' content={description} />
		<meta name='author' content={AppConfig.author} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
