---
import { AppConfig } from "@utils/AppConfig";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />
    <title>{title}</title>
  </head>
  <body>
    <div class="bg-dark w-full h-full" >
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
